.avatar{
    height: 40rem;
    width: 100%;
    padding: 2rem;
    background-color:transparent;
    font-family: "Hind", sans-serif;
}
.avatar-heading{
font-size: 3rem;
    color:black;
}
.avatar-para{
    letter-spacing: 2px;
    font-size: 1.5rem;
    padding-right: 2rem;
    line-height: 35px;
    color:rgba(85, 85, 238, 0.678) ;
}

.sample{
    font-size: 2rem;
    margin-top: 2rem;
    color: black;
}
.sample-para{
    padding-top: 1rem;
    font-size: 1.5rem;
    letter-spacing: 1px;
    padding-right: 2rem;
    color:rgba(85, 85, 238, 0.678) ;
}
.avatar-container{
    height: 15rem;
    width: 90%;
    margin-top: 2rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 3px solid rgba(0, 0, 255, 0.308);

}
.avatar-cont{
    
    position: relative;
}
.avatar-cont img{
    border-radius: 50%;
    height: 100%;
    width: 100%;
}
.avatar-large{
    width: 10rem;
    height: 10rem;
}
.avatar-big{
    height: 8rem;
    width: 8rem;
}
.avatar-medium{
    width: 6rem;
    height: 6rem;
}
.avatar-small{
    width: 4rem;
    height: 4rem;
}