@import url(/alert/alert.css);
@import url(/avatar/avatar.css);
@import url(/badges/badge.css);
@import url(/bttn/bttns.css);
@import url(/card/card.css);
/* @import url(/image/image.css); */
@import url(/install/installation.css);




*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
}
.header{
    display: flex;
    width: 100%;
    height: 80px;

    background-color:rgba(65, 167, 226, 0.24);

    /* background-color: blue; */
    border-bottom: 2px solid rgba(177, 170, 170, 0.301);
}
.navbar{
    display: flex;
    width: 100%;
    height: 60px;
    /* background-color: green; */
    margin-top: 10px;
margin-left: 45px;


}
.logo{
    display: flex;
    width: 60px;
    height: 60px;
    /* background-color: yellow; */
    margin-left: 10px;
}
.navbar2{
    
    display: flex;
    justify-content: right;
    align-items: center;
    /* background-color: red; */
    margin-left: 100px;
    width: 60%;
    gap: 60px;
    font-family: serif;
    font-weight:400;
    font-size: 25px;
}
.home{
    width: 40px;
    height: 20px;
    text-decoration: none;
/* background-color: black; */
}
.documents{
    width: 40px;
    height: 20px;
    text-decoration: none;
}
.navbar3{
    display: flex;
width: 100px;
height: 60px;
/* background-color: aqua; */
margin-left: 150px;
align-items: center;
gap: 18px;
}

.sidebar{
    width: 20%;
    height: 100vh;
    background-color:rgba(65, 167, 226, 0.24);
overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto

}

.sidebar a{
    width: px;
    height: 40px;
    /* font: 500; */
    font-size: 20px;
    font-weight: 600;
  margin-right: 30px;
  margin-top: 10px;

}

.main{
    width: 100%;
    height: 87vh;
    background-color:transparent;
    display: flex;
}
.main img{
    width: 400px;
    height: 200px;
}
.main-body{
    width: 75%;
    height: auto;
    background-color: transparent;
    /* overflow-y: auto; */
    /* overflow-x: hidden; */
}
.install{
    height: 35rem;
    width: 100%;
    padding: 2rem;
    font-family: "Hind", sans-serif;
    background-color:transparent;
}
.install-heading{
    font-size: 3rem;
    color:black;
}
.install-para{
    margin-top: -33rem;
    color:rgba(85, 85, 238, 0.678);
    padding-left: 15px;
    padding-right: 2rem;
    font-size: 23px;
}


/* body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  } */

  /* button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
    .card {
    width: 300px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(206, 27, 27, 0.623);
    border-radius: 8px;
    background-color: #fff;
    text-align: center;
  }

  .toggle-button {
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  img{
    width: 600px;
    height: 90px;
  } */